body {
    background-color: #ffe4e1; 
    color: #4a4a4a; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #ff69b4; 
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}

.nav-link {
    color: #ffffff !important;
    margin-right: 10px;
}

.nav-link:hover {
    color: #ffe4e1 !important; 
}

.carousel-inner {
    background-color: #ffc0cb; 
    padding: 15px;
    border-radius: 10px;
}

.carousel-item h4 {
    color: #8b0000; 
}

.list-group-item {
    background-color: #fff0f5; 
    color: #4a4a4a;
    border: none;
}

.list-group-item:hover {
    background-color: #ffc0cb; 
    color: #ffffff;
}

h2, h3 {
    color: #ff69b4; 
}


footer {
    background-color: #ff69b4; 
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .navbar {
        text-align: center;
    }

    .carousel-inner {
        padding: 10px;
    }

    .list-group-item {
        font-size: 14px;
    }

    h2, h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .list-group-item {
        font-size: 12px;
        padding: 10px;
    }

    h2, h3 {
        font-size: 1.2rem;
        text-align: center;
    }
}
